body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

.download-link{
    display: flex;
    width: 100%;
    justify-content: center;
}
.download-link a{
    text-align: center;
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
.travel-guide{
    margin-top: 50px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
footer{
    margin-top: 50px;
}

footer p{
    text-align: right;
    color: gray;
}